{% extends 'base.html' %} 
{% block title %}Question {{ question_id }}{% endblock %} 
{% block content %}
<h1>{{ survey_title }}</h1>
<h2 class="survey-question">{{ question_text }}</h2>
<form action="/answer" method="POST">
    <fieldset>
        {% for choice in choices %}
        <div>
            <input type="radio" id="option-{{ loop.index }}" name="answer" value="{{ choice }}" />
            <label for="option-{{ loop.index }}">{{ choice }}</label>
        </div>
        {% endfor %}
    </fieldset>
    <input type="hidden" id="hidden-input" name="question-id" value="{{ question_id }}">
    <input class="button" type="submit" value="Submit Answer">
</form>
{% endblock %}
